<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
   <title>Alert Lab Computational Thinking | University of Alberta</title>
   <meta name="viewport" content="width=device-width, user-scalable=yes">

   <script type="text/javascript" src="<%= javascript_path('javascripts/main') %>"></script>

   <link rel="stylesheet" href="<%= stylesheet_path('styles/admin_manifest') %>">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"
           integrity="sha256-Znf8FdJF85f1LV0JmPOob5qudSrns8pLPZ6qkd/+F0o="
           crossorigin="anonymous"></script>

   <script>
      window.appData = {};
      window.appData.imagePaths = {
         person: '<%= image_path('images/person.svg') %>',
         people: '<%= image_path('images/people.svg') %>',
         eyeGrey: '<%= image_path('images/eye-grey.svg') %>'
      };

      window.appData.roles = '<%= URI.escape(settings.container.persisters[:user].roles.to_a.collect do |r|
         r.name.titlecase
      end.to_s) %>';
   </script>
</head>
<body>

<header class="page-header">
   <a href="/admin/people" class="banner">
      <div class="logo">
         <img src="<%= image_path('images/logos/UA-COLOUR-440px.png') %> " alt="U of A Logo" title="Admin Home">
         <span>Alert Lab</span>
      </div>

      <span class="subtitle">Computational Thinking Experiments</span>
   </a>

   <nav class="main-nav">
      <navigation-menu params="options: {
                                 People: {url: '/admin/people', icon: window.appData.imagePaths.person},
                                 Groups: {url: '/admin/groups', icon: window.appData.imagePaths.people},
                                 'session': {tag: '<session></session>'}
                               }">
      </navigation-menu>
   </nav>
</header>

<main>
   <status-messages params="notices: window.notices,
                            errors: window.errors,
                            dismissable: true"></status-messages>

   <%= yield %>

   <div class="game-container"></div>
</main>

</body>
</html>
