<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
   <title>Alert Lab Computational Thinking | University of Alberta</title>
   <meta name="viewport" content="width=device-width, user-scalable=yes">

   <script type="text/javascript" src="<%= javascript_path('main') %>"></script>
   <script type="text/javascript" src="<%= javascript_path('lib/phaser-ce-2.10.0.min') %>"></script>
   <!--<script type="text/javascript" src="<%= javascript_path('lib/phaser.min') %>"></script>-->

   <link rel="stylesheet" href="<%= stylesheet_path('public_manifest') %>">
</head>
<body>
<header class="page-header">
   <div class="banner">
      <div class="logo">
         <img src="<%= image_path('logos/UA-COLOUR-440px.png') %>" alt="U of A Logo" title="Admin Home">
         <span>Alert Lab</span>
      </div>

      <span class="subtitle">Computational Thinking Experiments</span>
   </div>
</header>

<main>
   <status-messages params="notices: window.notices,
                            errors: window.errors,
                            dismissable: true"></status-messages>

   <%= yield %>
</main>

</body>
</html>
