<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
   <title>Alert Lab Computational Thinking | University of Alberta</title>
   <meta name="viewport" content="width=device-width, user-scalable=yes">

   <script type="text/javascript" src="<%= javascript_path('javascripts/main') %>"></script>
   <script type="text/javascript" src="<%= javascript_path('javascripts/lib/phaser-ce-2.10.0.min') %>"></script>
   <!--<script type="text/javascript" src="<%= javascript_path('javascripts/lib/phaser.min') %>"></script>-->

   <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"
           integrity="sha256-Znf8FdJF85f1LV0JmPOob5qudSrns8pLPZ6qkd/+F0o="
           crossorigin="anonymous"></script>

   <link rel="stylesheet" href="<%= stylesheet_path('styles/public_manifest') %>">

   <script>
      window.imagePaths = {
         disc_normal: '<%= image_path('images/games/disc_unselected.png') %>',
         disc_selected: '<%= image_path('images/games/disc_selected.png') %>',
         peg: '<%= image_path('images/games/peg.png') %>',
         button: '<%= image_path('images/games/button.png') %>'
      }
   </script>
</head>
<body>
<header class="page-header">
   <div class="banner">
      <div class="logo">
         <img src="<%= image_path('images/logos/UA-COLOUR-440px.png') %>" alt="U of A Logo" title="Admin Home">
         <span>Alert Lab</span>
      </div>

      <span class="subtitle">Computational Thinking Experiments</span>
   </div>

   <session></session>
</header>

<main>
   <status-messages params="notices: window.notices,
                            errors: window.errors,
                            dismissable: true"></status-messages>

   <%= yield %>
</main>

</body>
</html>
